@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  box-sizing: border-box;
  top: 12px;
  left: 0;
  right: 0;
  background-color: $color-background;
  z-index: 1;
  max-width: 82vw;
  min-height: 60px;
  margin: 0 auto;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  &:focus-within {
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.1);
  }

  @include mobile {
    margin-left: 46px;
  }

  &__input-wrapper {
    display: flex;
    padding-inline: 5px;
  }

  &__input {
    border: none;
    background-color: inherit;
    min-height: 40px;
    margin: 5px;
    width: 100%;
  
    @include showFonts(
      $size: 14px,
      $color: black,
      $line-height: 15px
  
    );
    &:focus {
      outline: none;
    }
  }

  &__button {
    border: none;
    width: 30px;
    height: 30px;
    align-self: center;
    background: url('../../assets/img/close.svg') no-repeat center;
    background-size: 20px 20px;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }
};
